/* calendar.css */
.calendar {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
}

.schedule-container {
  flex: 1;
}

.classes-list, .electives-list{
  width: 10%;
  background-color: rgb(148, 148, 148);
  height: 570px;
} 
