/* GridComponent.css */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));}

.grid-cell {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background: #eee;
}

.grid-cell:hover {
    background: #ddd;
}

.grid-cell>div {
    border: 1px solid #ccc;
}


.grid-cell>div:last-child {
    border-bottom: 1px solid #ccc;;
}