/* Search.css */

.search-bar {
  display: flex;
  margin: 20px auto 20px auto;
  padding: 5px;
  border-radius: 8px;
  display: flex;
}

.inp {
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  background-color: p;
  width: 80%;
}

.search-bar button {
  background-color: rgb(109, 106, 42);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  transform: scale(110%);
}
