/* Search.css */

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 15px; /* Increased padding */
  margin: 20px 30px 30px 30px;
  border-radius: 12px; /* Increased border-radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  flex: 1;
  padding: 10px; /* Increased padding */
  border: none;
  border-radius: 6px; /* Increased border-radius */
  outline: none;
  font-size: 16px; /* Larger font size for the placeholder */
}

.search-bar button {
  background-color: #4caf50; /* Different color for the button */
  color: #fff;
  border: none;
  border-radius: 6px; /* Increased border-radius */
  padding: 12px 16px; /* Increased padding */
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #45a049; /* Darker color on hover */
}